* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px;

}
body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

}

nav ul li a:hover {
    color: #E2E2E3;

}

main {
    padding: 30px;
}

.container {
    margin: 0;
    margin-bottom: 20px;
}


footer {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

}